$base-color: #070724;
$gray: #38384F;
$light-gray: #838391;

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5625rem;
  background-image: url("./background-stars.svg");
  background-position-x: center ;
  background-position-y: center ;
  background-size: max(110vw, 95.75rem);
  background-color: $base-color;
  color: white;
}


h1 {
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.4375rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.09375rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: 0.1625rem;
  text-transform: uppercase;
}

h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}